# exclude .gitignore and similar from the generated tarball
.git*                                    export-ignore
/readme.md                               export-ignore
/implementation[[:space:]]approach.md    export-ignore
