# exclude files and folders from the generated tarball
/docs                                           export-ignore
/src_Set-OutlookSignatures\sample[[:space:]] code -export-ignore
/src_Set-OutlookSignatures\sample[[:space:]] templates -export-ignore